*.osm.pbf
*.pbf
*.osrm
*.osrm.*
stop_times.txt
trips.txt
stops.txt
routes.txt
shapes.txt
*_vor_*
*_kandidat*
*.bak
*.log

data/quellen/delfi_haltestellen_deutschland.csv

js/app_kaputter_*
js/app_abgestuerzter_*
